body{
    box-sizing: border-box;
}

table {
     font-family: 'Trebuchet MS', sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: 1% 10%
  }
  
td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 15px;
}

tr:not(:first-child):hover {
    background-color: #dddddd;
    -moz-box-shadow: 0 4px 2px -3px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 4px 2px -3px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 4px 2px -3px rgba(0, 0, 0, 0.5) inset;
}

input{
    width: 50%;
    height: 30px;
    margin-top: 2%;
    border-radius: 10px;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
}